html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: LightGray;
}
div {
	/*border: 1px solid Chocolate;*/
}
li {
	display: inline-block;
	list-style: none;
	margin-left: 1.5em;
	
}
.content {
	max-width: 50em;
	margin: 0 auto;
	padding: 0.7em;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: white;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
		
}
.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
 }

.links {
	
	text-align: right;
}

.active {
	color: black;
	font-weight: bold;
}
.top-navigation {
    background-color: #fff;
    /*color: #4c5058;
    font-weight: 500;*/
}

img {
	float: left;
	margin-left: -8px;
    height: 50px;

}

a {
	text-decoration: none;
	color: #838994;
}

a:hover {
	color: black;
}
.introduction {
	background-image: url('http://i57.tinypic.com/2hn5nbc.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	overflow: auto;
	background-position: center bottom;
	height: 45.938rem;
	
}
h1, h3 {
	color: white;
	font-size: 50px;
	font-weight: lighter;
	text-align: center;
	margin-top: 3.6em;

}

h3 {
	font-size: 25px;
	margin-top: -1em;
}
button {
	padding: 16px 26px;
	background-color: #f15a29;
	border-color: #f15a29;
	color: white;
	border-radius: 4px;
	border-style: none;
	font-size: 1.125rem;
	margin: 0 auto;
	display: block;
	
}
button:hover {
	background-color: #D43C0B; 
}
