html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: LightGray;
}
div {
	/*border: 1px solid Chocolate;*/
}
li {
	display: inline-block;
	list-style: none;
	margin-left: 1.5em;
	
}
.content {
	background-color: #fff;
	color: black;
	max-width: 50em;
	margin: 0 auto;
	padding: 0.7em;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
		
}
.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
 }

.links {
	
	text-align: right;
}

.active {
	color: black;
	font-weight: bold;
}
.top-navigation {
    background-color: #fff;
    /*color: #4c5058;
    font-weight: 500;*/
}

img {
	float: left;
	margin-left: -8px;
    height: 50px;

}

a {
	text-decoration: none;
	color: #838994;
}

a:hover {
	color: black;
}



